html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Noto Sans;
  src: url("/font/NotoSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Noto Sans;
  font-style: italic;
  src: url("/font/NotoSans-Italic.ttf");
}
@font-face {
  font-family: Noto Sans;
  font-weight: bold;
  src: url("/font/NotoSans-Bold.ttf");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: bold;
  src: url("/font/NotoSans-BoldItalic.ttf");
}

/*
  special font for Hebrew
*/
@font-face {
  font-family: Ezra;
  src: url("/font/SILEOTSR.ttf");
  font-weight: normal;
  unicode-range: U+0590-05FF;
  font-display: swap;
}


/* set up Charis SIL font */
@font-face {
  font-family: CharisSIL;
  src: url(/font/CharisSIL-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: CharisSIL;
  font-style: italic;
  src: url(/font/CharisSIL-Italic.ttf);
}
@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  src: url(/font/CharisSIL-Bold.ttf);
}

@font-face {
  font-family: CharisSIL;
  font-style: italic;
  font-weight: bold;
  src: url(/font/CharisSIL-BoldItalic.ttf);
}

.CharisSIL-text {
  font-family: CharisSIL, Noto Sans;
  font-size: 100%;
}
